<div class="container-xl">
  <div class="row justify-content-center">
    <h1 class="text-center"> Browse outfits for you and your pet!</h1>
  </div>

  <div class="row justify-content-center mt-4">

    <div class="col-3 p-3 bg-white">
    <!--Sidebar goes here-->
      <%= form_with url: outfits_path, method: :get, class: "d-flex"  do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Name, category..."
        %>
        <%= submit_tag "🔎", name: "", class: "btn btn-secondary" %>
      <% end %>

      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 mt-2 align-middle">
      <i class="fs-4 bi-speedometer2"></i> <h4 class="ms-1 d-none d-sm-inline">Categories</h4></a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">

          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"> > Item</span> 1 </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"> > Item</span> 2 </a>
          </li>

        </ul>

      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 mt-2 align-middle">
      <i class="fs-4 bi-speedometer2"></i> <h4 class="ms-1 d-none d-sm-inline">Price</h4></a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">

          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"> > Item</span> 1 </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"> > Item</span> 2 </a>
          </li>

        </ul>
    </div>

    <div class="col-9 d-flex flex-wrap">
      <div class="container">
        <div class="row justify-content-center", style="row-gap: 1.3rem;">
          <% @outfits.each do |outfit| %>
            <div class="col-4">
              <div class="card">
                <% if outfit.photo.attached? %>
                  <%= cl_image_tag outfit.photo.key, height: 200, crop: :fill %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= outfit.name %></h5>
                  <p class="card-text"><strong>Price:</strong><span class="ms-1">$<%= outfit.price %>/day</span></p>
                  <p class="card-text"><strong>Category:</strong><span class="ms-1"><%= outfit.category.name %></span></p>
                  <%= link_to 'More info', outfit_path(outfit) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
