<div class="container-xl">
  <div class="row justify-content-center">
    <h1 class="text-center"> Browse outfits for you and your pet!</h1>
  </div>

  <div class="row justify-content-center mt-4">

    <div class="col-3 p-3 border border-right-secondary">
    <!--Sidebar goes here-->
      <%= form_with url: outfits_path, method: :get, class: "d-flex"  do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Name, category..."
        %>
        <%= submit_tag "🔎", name: "", class: "btn btn-secondary" %>
      <% end %>
    </div>

    <div class="col-9 d-flex flex-wrap">
      <div class="container">
        <div class="row justify-content-center", style="row-gap: 1.3rem;">
          <% @outfits.each do |outfit| %>
            <div class="col-4">
              <div class="card outfit-index-card">
                <% if outfit.photo.attached? %>
                  <%= cl_image_tag outfit.photo.key, :gravity=>"auto:0", :crop=>"thumb" %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= outfit.name %></h5>
                  <p class="card-text"><strong>Price:</strong><span class="ms-1">$<%= outfit.price %>/day</span></p>
                  <p class="card-text"><strong>Category:</strong><span class="ms-1"><%= outfit.category.name %></span></p>
                  <%= link_to 'More info', outfit_path(outfit) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
