<div class="container">

  <div class="row justify-content-center">
    <h1 class="text-center"><%= @user.email %>'s Profile</h1>
  </div>

  <div class="row mt-4">

    <% if user_signed_in? && current_user.id == @user.id %>
      <h2>Your Outfits</h2>
    <% else %>
      <h2><%= @user.email %>'s outfits for rent</h2>
    <% end %>

    <!-- Cards -->
    <div class="row">
      <% @outfits.each do |outfit| %>
        <div class="col-6 col-lg-4">
          <div class="card">
            <img src="<%= outfit.photo_url %>" class="card-img-top" style="height: 300px; object-fit: cover; object-position: center top;" alt="<%= outfit.name %>">
            <div class="card-body">
              <h5 class="card-title"><strong><%= outfit.name %></strong></h5>
              <p class="card-text">Price: <%= outfit.price %></p>
              <!--Edit/Destroy/Show logic-->
              <div class="card-buttons" style="display: flex;">
                <% if user_signed_in? && current_user.id == @user.id %>
                  <%= link_to 'View', outfit_path(outfit)%>
                  <%= link_to 'Edit', edit_outfit_path(outfit)%>
                  <%= link_to 'Delete', outfit_path(outfit), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                <% else %>
                  <%= link_to 'More info', outfit_path(outfit) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && current_user == @user %>

    <!--Made-->
    <div class="row mt-4">
      <h2>Requests You've Made</h2>
      <div class="row">
        <% @requests_made.each do |request| %>
          <div class="col-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= request.outfit.name %></h5>
                <p class="card-text"><%= request.status %></p>
                <%= link_to 'Delete request', outfit_request_path(request.outfit, request), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this request?"}%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!--Received-->
    <div class="row mt-4">
      <h2>Received Requests</h2>
      <div class="row">
        <% @requests_received.each do |request| %>
          <div class="col-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= request.outfit.name %></h5>
                <p class="card-text"><%= request.status %></p>
                <%= link_to 'Edit Request', edit_outfit_request_path(request.outfit, request) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

</div>
