<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-4 col-lg-6">

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 col-lg-6 p-5">
      <h1><%= @request.outfit.name %></h1>
      <div class="outfit-show-img"><%= cl_image_tag(@request.outfit.photo.key, crop: :fill) %></div>
    </div>

    <div class="col-4 col-lg-6 p-5">
      <p>Status: <%= @request.status %></p>
      <p>From: <%= @request.user.username %></p>
      <p>Start date: <%= @request.start_date %></p>
      <p>End date: <%= @request.end_date %></p>

      <%= simple_form_for [@outfit, @request] do |f| %>
        <%= f.input :status, :collection => ['Accepted', 'Rejected'] %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Submit changes" %>
      <% end %>
    </div>

  </div>

</div>
