<div class="row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
  <div class="col-10">
    <div class="rounded-4 banner">
      <div class="banner-text">
        <h1>Cute matching outfits for your and your pet</h1>
        <p>Twinning w/ with your BFFL never felt better</p>
        <%= link_to "Browse All Outfits", outfits_path(@outfit), :class => "btn btn-light rounded-3 mt-3" %></a>
      </div>
    </div>

    <div class="container my-4">
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card rounded-3 text-center">
            <%= link_to filtered_outfits_path(category: 'Dog'), class: 'text-decoration-none' do %>
              <img src="<%= asset_url('dog-bee.jpg') %>%" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Dog Category">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title text-white">Dog Outfits</h5>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card rounded-3 text-center">
            <%= link_to filtered_outfits_path(category: 'Cat'), class: 'text-decoration-none' do %>
              <img src="<%= asset_url('cat-bee.jpg') %>%" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Cat Category">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title text-white">Cat Outfits</h5>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card rounded-3 text-center">
            <%= link_to filtered_outfits_path(category: 'Miscellaneous'), class: 'text-decoration-none' do %>
              <img src="<%= asset_url('rat.jpg') %>%" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Miscellaneous Category">
              <div class="card-img-overlay d-flex align-items-center justify-content-center">
                <h5 class="card-title text-white">Miscellaneous</h5>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
