<section class="vh-84">
  <div class="container-fluid h-custom align-center">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://www.glowhalloween.ca/cdn/shop/products/203119_the_batman-RUB203119.png"
        class="img-fluid login-img" alt="Sample image">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <h1 class="text-center">Log in</h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", :class => 'btn btn-primary btn-large' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>

    </div>
  </div>
</section>
